{
    "presets": [
        ["@babel/env", {
            "targets": {
                "node": "6.11.1"
            },
            "exclude": ["@babel/plugin-proposal-object-rest-spread"]
        }]
    ],
    "plugins": [
        "@babel/plugin-transform-runtime"
    ]
}